.cart-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.cart-heading {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-item {
  display: flex;
  gap: 20px;
  border: 1px solid #cccccc42;
  padding: 15px;
  border-radius: 10px;
  background-color: #505050;
}

.cart-item-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.cart-item-details {
  flex-grow: 1;
}

.cart-item-details h3 {
  margin: 0;
  font-size: 1.3rem;
}

.cart-item-details p {
  margin: 5px 0;
}

.cart-total {
  text-align: right;
  margin-top: 30px;
}

.cart-total h3{
  padding: 10px 0px;
  font-weight: 700;
}

.checkout-btn {
  padding: 10px 20px;
  background-color: #ff5722;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.checkout-btn:hover {
  background-color: #e64a19;
}

.not-logged-in {
  text-align: center;
  padding: 50px;
}

.login-btn {
  margin-top: 15px;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cart-quantity-but{
  display: flex;
  padding: 10px 0px;
  gap: 10px;
}

.cart-quantity-but button{
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: orangered;
  color: white;
  font-weight: 700;
  transition: all 0.1s ease-in;
}

.cart-quantity-but button:active{
  scale: 0.8;
}

.cart-total {
  text-align: right;
  margin-top: 30px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.cut-price {
  text-decoration: line-through;
  color: #888;
  margin-right: 5px;
}

.free-text {
  color: green;
  font-weight: bold;
}

.checkout-line {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  font-size: 1rem;
}

.checkout-line.total {
  font-weight: bold;
  font-size: 1.2rem;
  padding-top: 10px;
}

.test-purpose{
  text-align: center;
  opacity: 0.2;
  font-size: 0.8em;
}