@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.hero-section-1 {
    height: 100vh;
    background-image: url("../../Assets/hero-img-1.jpg");
    width: 100vw;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-section-1-heading {
    font-family: "Cormorant", serif;
    font-size: 5.8em;
    letter-spacing: 3px;
    color: white;
    max-width: 50vw;
    text-align: center;
}

.hero-section-1-button {
    background-color: transparent;
    border: 3px solid white;
    color: white;
    font-size: 0.9em;
    outline: none;
    font-weight: 600;
    padding: 10px 25px;
    margin: 25px 25px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.hero-section-1-button a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.hero-section-1-button:hover {
    background-color: white;
    transform: translateY(-3px);
    color: black;
}

.hero-section-1-button:hover a{
    text-decoration: none;
    color: black;
}

.hero-section-1-button:active {
    scale: 0.9;
}

.hero-section-1-text {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 60vw;
}

.hero-section-1-text p {
    width: max-content;
    padding: 15px;
    text-align: center;
    font-weight: 500;
    font-size: 1.1em;
    opacity: 0.9;
}

.hero-section-1-text hr {
    height: 1px;
    width: 100px;
    opacity: 0.8;
}

.hero-section-2 {
    background-color: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
    width: 100vw;
    padding: 100px;
    margin: auto;
}

.hero-section-2 img {
    object-fit: cover;
    width: 70px;
}

.hero-section-2-p-1 {
    font-family: "Cormorant", serif;
    font-style: italic;
    font-size: 3em;
    text-align: center;
}

.hero-section-2-p-2 {
    padding: 20px;
    width: 70vw;
    font-size: 0.9em;
    opacity: 0.8;
    text-align: center;
    line-height: 25px;
}

.hero-section-2-p-3 {
    padding: 20px;
    font-size: 1em;
    opacity: 1;
    text-align: center;
    line-height: 25px;
}

.hero-section-2-images {
    display: flex;
    width: 100vw;
    flex-grow: 1;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 80px;
}

.hero-section-2-images img {
    width: 24vw;
    height: 350px;
    opacity: 0.8;
    transition: all 0.1s linear;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}

.hero-section-2-images img:hover {
    opacity: 1;
}

.hero-section-3 {
    background-color: #101010;
}

.hero-section-3-div-1 {
    height: 90vh;
    width: 100vw;
    background-image: url("../../Assets/section-3-bg.jpg");
    background-position: top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    color: white;
    justify-content: flex-start;
}

.hero-section-3-div-1 img {
    width: 70px;
    object-fit: cover;
    margin: 5px 0px;
}

.hero-section-3-div-1 p {
    font-family: "Cormorant", serif;
    font-size: 2em;
    font-style: italic;
    padding: 5px 0px 0px 0px;
    font-weight: 600;
}

.hero-section-3-div-1 p:last-child {
    font-family: "Open Sans", sans-serif;
    font-size: 0.9em;
    font-weight: 400;
    padding: 20px;
    font-style: normal;
}

.hero-section-3-div-2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    height: min-content;
    top: -225px;
}

.img-con {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    height: 460px;
    width: 300px;
}

.img-con img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: all 0.8s ease;
    filter: brightness(0.8);
}

.img-con:hover img {
    transform: scale(1.1);
    filter: brightness(1);
}

.img-con p {
    text-align: center;
    position: relative;
    top: -250px;
    color: white;
    font-size: 1.4em;
    font-weight: 600;
}

.hero-section-3-but{
    display: block;
    margin: auto;
    position: relative;
    top: -100px;
    padding: 15px 25px;
    outline: none;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease-in;
}

.hero-section-3-but a{
    text-decoration: none;
    font-weight: 600;
    color: white;
}

.hero-section-3-but:hover{
    background-color: white;
    color: black;
    transform: translateY(-5px);
}

.hero-section-3-but:hover a{
    color: black;
}

.hero-section-3-but:active{
    scale: 0.8;
}

@media (max-width:980px) {
    .hero-section-1-heading{
        font-size: 5rem;
        max-width: 80vw;
    }
    .hero-section-1{
        background-image: url("../../Assets/mobile-view-bg-2.jpg");
    }
    .hero-section-2-p-1{
        width: 95vw;
    }

    .hero-section-2-p-2{
        width: 85vw;
    }

    .hero-section-2-p-3{
        width: 90vw;
    }
}

@media (max-width:1250px) {
    .hero-section-3{
        height: 30vh;
        overflow: hidden;
    }

    .hero-section-3-div-2{
        top: -500px;
    }
}

@media (max-width:950px) {
    .hero-section-2-images img{
        width: 48vw;
        height: 450px;
    }
    .hero-section-2-images img:nth-child(1){
        display: none;
    }
    .hero-section-2-images img:nth-child(2){
        display: none;
    }
}

@media (max-width:750px) {
    .hero-section-2-images img{
        height: 300px;
    }
}

@media (max-width:500px) {
    .hero-section-1-button{
        margin: 25px 12px;
    }
    .hero-section-1-heading{
        font-size: 4rem;
        max-width: 95vw;
    }
    .hero-section-2-images img{
        height: 250px;
    }
    .hero-section-2-p-1{
        font-size: 2.6rem;
    }
}